In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [3]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [3]:
pd.__version__

'2.3.1'

In [6]:
df.index

RangeIndex(start=0, stop=9704, step=1)

In [7]:
df.fuel_type

0       Gasoline
1       Gasoline
2       Gasoline
3         Diesel
4       Gasoline
          ...
9699      Diesel
9700    Gasoline
9701      Diesel
9702      Diesel
9703      Diesel
Name: fuel_type, Length: 9704, dtype: object

In [10]:
df.nunique().fuel_type

np.int64(2)

In [31]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower               0
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [18]:
df[df.origin == 'Asia'].fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [25]:
median_before = df.horsepower.median()
median_before

np.float64(149.0)

In [27]:
most_frequent = df.horsepower.mode()[0]
most_frequent

np.float64(152.0)

In [28]:
df["horsepower"] = df["horsepower"].fillna(most_frequent)

In [29]:
median_after = df.horsepower.median()
median_after

np.float64(152.0)

In [35]:
import numpy as np

# 1. Select all the cars from Asia
df_asia = df[df["origin"] == "Asia"]

# 2. Select only columns vehicle_weight and model_year
df_subset = df_asia[["vehicle_weight", "model_year"]]

# 3. Select the first 7 values
df_first7 = df_subset.head(7)

# 4. Get the underlying NumPy array
X = df_first7.to_numpy()

# 5. Compute XTX = X.T @ X
XTX = X.T @ X

# 6. Invert XTX
XTX_inv = np.linalg.inv(XTX)

# 7. Create array y
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# 8. Compute w = (XTX_inv @ X.T) @ y
w = XTX_inv @ X.T @ y

# 9. Compute the sum of all elements of w
result_sum = w.sum()
result_sum

np.float64(0.5187709081074016)